body {
    background-color: #f0f0f0;   /* цвет фона (tan) */
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333333 
}

h1 {
    text-align: center;
    color: #2c3e50;
}

h2 {
    color: #1abc9c;
    font-size: 20px;
    margin-bottom: 10px;
}

.intro {
    width: 70%;
    margin: 0 auto 20 px auto;
    text-align: justify;
    line-height: 1.6;
}

.card {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 2 px solid #cccccc;
    border-radius: 8px;
    box-sizing: border-box;
}